.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tcenter {
  text-align: center;
}

.left {
	display: block;
	margin-left: 45px;
	margin-right: auto;
}

.right {
	display: block;
	margin-left: auto;
	margin-right: 45px;
}

.myul{
	list-style-type:none;
	width: 840px;
	margin: 0 auto;
}

.myli{
	float:left;
}

a:link,a:visited {color:#D2D42C; background-color:#222536; display:block; width:150px;
font-weight:bold; text-align:center; padding:5px; text-decoration:none;}

a:hover,a:active {background-color:gray; font-style:italic;}

a.lol:link,a.lol:visited {color:#D2D42C; background-color:#222536; display:inline; 
font-weight:normal; text-align: center; padding:0px; text-decoration:none;}

a.lol:hover,a.lol:active {font-style:italic;text-decoration:underline;}

.mytop {
	vertical-align: top;
}

.mytable {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color:#222536;
	border-collapse:collapse;
}

td, tr {
	border: 0;
	
}

.mytr {
	margin-right: 15px;
}

tr.spaceUnder>td {
  padding-bottom: 1em;
  padding-top: 1em;
}

.buttonA {
  background-color:tomato;
  border: none;
  color: white;
  padding: 12px 23px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left:auto;
  margin-right:auto;
  display: block;
  border-radius:40%;
}


.buttonB {
  background-color:#62AF5E;
  border: none;
  color: white;
  padding: 12px 23px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left:auto;
  margin-right:auto;
  display: block;
  border-radius:40%;
}

.buttonA:hover {
	font-style:italic;
}

.buttonB:hover {
	font-style:italic;
	text-decoration: italic;
}

.buttonA:active {
	background-color: red;
}

.buttonB:active {
	background-color: green;
}

.mytextarea {
	resize: none;
}

.hidden {
	display: none;
}

.zoom {
  padding: 50px;
  /* background-color: #DE8704; */
  background-color: #222536;
  transition: transform .4s;
  width: 40%;
  height: 40%;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

u.lul {
  color: #D2D42C;
  text-decoration: none;
  background-image: linear-gradient(#D2D42C, #D2D42C),
    linear-gradient(#222536, #222536),
    linear-gradient(#D2D42C, #D2D42C);
  background-size: 0px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 2s linear, background-position 2s linear;
}

u.lul:hover {
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}